* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
.hidden{
	display: none;
}
/*LOADING*/
.load{
	background-image: url(../image/fondo-03.png);
	background-size: cover;
	padding: 80% 30%;
	text-align: center;
}
.logoBlanco{
	width: 70%;
}

/*PORTADA*/
.portada{
	background-image: url(../image/portada.jpg);
	background-size: cover;
	padding: 15.8% 3%;
	text-align: center;
}
.logoColor{
  width: 38%;
  display: block;
  text-align: center;
  margin: 0 34% 114% 34%;
}
.btnPortada{
	color: white;
	border-radius: 14px;
	border:4px solid white;
	font-size: 60px;
	text-align: center;
	padding: 8% 25%;
	display: inline-block;
	background-color: transparent;
}
.btnFondo{
	background-image: url(../image/fondoBoton-04.png);
	background-size: cover;
	border:none;
}

/*SIGN UP*/
.color-SignUp{
	color:#3A3B4D;
	text-align: center;
}
h2{
	font-size: 80px;
	margin: 80px 0 40px 0;
}
h4{
	font-size: 40px;
}
.iconBack{
	font-size: 58px;
  float: left;
  position: relative;
  top: 90px;
 	margin-left: 40px;
}
.iconDown{
	font-size: 24px;
}
.linea{
	border: 0.6px solid;
	margin: 40px 0 30px 0;
	width: 100%;
}
.btnSignUp{
	width: 100%;
	background-color: #268B85;
	color: white;
	padding: 40px 0;
	font-size: 60px;
	position: relative;
	bottom: 0;
  top: 1032px;
}
.btnDatos{
	top: 850px;
}
.inputSingUp{
	padding: 16px 40px;
	font-size: 60px;
	height: 150px;
	margin: 30px 0;
}