* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
.hidden{
	display: none;
}
/*LOADING*/
.load{
	background-image: url(../image/fondo-03.png);
	background-size: cover;
	padding: 32% 30%;
	text-align: center;
}
.logoBlanco{
	width: 50%;
	margin:auto;
}
