* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
.hidden{
	display: none;
}



/*PORTADA*/
.portada{
	background-image: url(../image/portada.jpg);
	background-size: cover;
	padding: 12% 4%;
	text-align: center;
	height: 100vh;
}
.logoColor{
	margin:auto;
  width: 38%;
  display: block;
  text-align: center;
  margin: 0 34% 108% 34%;
}
.btnPortada{
	color: white;
  border-radius: 10px;
  font-size: 2.1rem;
  text-align: center;
  display: inline-block;
  background-color: transparent;
}
.btnL{
	border: 3px solid white;
	padding: 9% 26%;
}

.btnPortada a{
	text-decoration: none;
	color: white;
}
.btnFondo{
	background-image: url(../image/fondoBoton-04.png);
	background-size: cover;
	border:none;
	padding: 12% 26%;
}
